---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="intro">
		<h2>client list</h2>
	</section>

  <section class="client reverse">
    <h3><a href="https://www.dnb.com/business-directory/company-profiles.unblockable_entertainment_llc.a8775f1109680aeb736dd4fb0ed1b719.html">unblockable entertainment</a></h3>
    <p>consultant engineering:<br/>custom rts engine rendering issue diagnosis</p>
    <p>c++, directx</p>
  </section>

	<section class = "client">
		<h3><a href="https://iftechfoundation.org/">interactive fiction technology foundation</a></h3>
		<p>consultant engineering:<br/>narrascope conference site</p>
		<p><a href="https://narrascope.org">see here</a></p>
		<p>astrojs, apache2, bash</p>
	</section>

	<section class="client reverse">
		<h3><a href="https://turbo.computer/">turbo.computer</a></h3>
		<p>consultant engineering:<br/>narrative single player and subversive networked multiplayer games</p>
		<p><a href="https://jdcalvelli.itch.io/staring-at-the-sun">see here</a> and <a href="https://devinne.itch.io/go-go-modern-video-game-ex">here</a></p>
		<p>rust</p>
	</section>

	<section class="client">
		<h3><a href="https://www.ll.mit.edu/r-d/air-traffic-control/surveillance-systems">massachusetts institute of technology, lincoln laboratory</a></h3>
		<p>consultant engineering:<br/>classified full stack interactive transportation safety and logistics simulations</p>
		<p>typescript, p5js, react, nodejs, express, prisma, sqlite</p>
	</section>

	<section class="client reverse">
		<h3><a href="https://www.skyshipstudios.com/">sky ship studios</a></h3>
		<p>thought partnership:<br/>inn keeper and adventurer manager simulation game</p>
		<p>godot, gdscript, machinations</p>
	</section>

	<section class="client">
		<h3><a href="https://www.altereainc.com/">alterea, inc</a></h3>
		<p>consultant engineering:<br/>full stack teacher dashboards and educational visual novel</p>
		<p><a href="https://www.agentsofinfluencegame.com/">see here</a></p>
		<p>typescript, react, firebase, unity, c#, ink</p>
	</section>

	<section class="client reverse">
		<h3><a href="https://www.un.org/en/visit">the united nations, visitor center new york</a></h3>
		<p>consultant engineering:</br>site specific digital globe installation and web data integration pipeline</p>
		<p>typescript, nocodb, docker, unity, c#</p>
	</section>
	
	<section class="client">
		<h3><a href="https://www.createneptune.com/">create:neptune, llc</a></h3>
		<p>consultant engineering:<br/>mobile first educational game for english as a second language students</p>
		<p><a href="https://www.createneptune.com/highlandia">see here</a></p>
		<p>unity, c#</p>
	</section>
</Layout>
