---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="intro">
		<h2>contact pklwrks</h2>
	</section>
	<section class="info">
		<p>interested in reaching out?</p>
		<p>shoot us an email at <a href="mailto:jd@pklwrks.dev">jd@pklwrks.dev</a></p>
		<p>hope to hear from you soon :)</p>
	</section>
</Layout>