---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="intro">
		<h2>game list</h2>
	</section>

	<section class="game">
		<h3><a href="#">microfiche</a></h3>
		<p><em>upcoming</em></p>
		<p>an elder attempts to remember their favorite book with the help of a microfiche machine</p>
		<p>playdate-sdk, lua</p>
	</section>

	<section class="game reverse">
		<h3><a href="https://devinne.itch.io/go-go-modern-video-game-ex">ggmvgx</a></h3>
		<p><em>in progress</em></p>
		<p>a jab at the state of the modern video game industry</p>
		<p>turbo, rust</p>
	</section>

	<section class="game">
		<h3><a href="https://devinne.itch.io/imogen-demo">imogen</a></h3>
		<p><em>in progress</em></p>
		<p>two estranged lovers forced to cross paths as a result of the passing of their daughter</p>
		<p>godot, gdscript, fmod</p>
	</section>

<!-- <section class="game">
		<h3><a href="#">impermanence</a></h3>
		<p><em>complete</em></p>
		<p>published in <a href="#">indiepocalypse #63</a></p>
		<p>description</p>
		<p>unity, c#</p>
	</section> -->

	<section class="game reverse">
		<h3><a href="https://jdcalvelli.itch.io/staring-at-the-sun">staring at the sun</a></h3>
		<p><em>complete</em></p>
		<p>published in <a href="https://voidspacezine.com/voidspace-12/">voidspace _ 12</a></p>
		<p>a discussion between two people where neither can say what they want to say</p>
		<p>turbo, rust</p>
	</section>
	
<!-- <section class="game">
		<h3><a href="#">spinpulse</a></h3>
		<p><em>hiatus</em></p>
		<p>published in <a href="#">indiepocalypse #63</a></p>
		<p>description</p>
		<p>unity, c#</p>
	</section> -->

	<section class="game">
		<h3><a href="https://www.massdigi.org/sip-blog/game-launch-play-your-cards-right-in-plutos-ascent-10-1-20/">pluto's ascent</a></h3>
		<p><em>complete</em></p>
		<p>published by <a href="https://www.massdigi.org/">massdigi</a></p>
		<p>a celestial card based rpg drawing from the classic italian card game scopa</p>
		<p>unity, c#</p>
	</section>
</Layout>