---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="intro">
		<h1>pklwrks LLC</h1>
		<h2>experimental game studio and</h2>
		<h2>boutique software development consultancy</h2>
	</section>
</Layout>
