<header>
	<div id="headerSketchCanvas"></div>
	<nav>
		<p><a href="/">home</a></p>
		<p><a href="/about">about</a></p>
		<p><a href="/clients">clients</a></p>
		<p><a href="/games">games</a></p>
		<p><a href="/contact">contact</a></p>
		<hr/>
	</nav>
</header>

<script>
	import p5 from "p5";
	import logoImport from "../assets/logo.png";

	let sketchCanvas: HTMLElement = document.getElementById("headerSketchCanvas")!;
	let headerBarWidth = sketchCanvas.clientWidth;
	let headerBarHeight = sketchCanvas.clientHeight;

	function sketch(p: p5) {
		let logo: p5.Image;

		p.preload = () => {
			logo = p.loadImage(logoImport.src);
		}

		p.setup = () => {
			sketchCanvas = document.getElementById("footerSketchCanvas")!;
			headerBarWidth = sketchCanvas.clientWidth;
			headerBarHeight = sketchCanvas.clientHeight;
			p.createCanvas(headerBarWidth, headerBarHeight);
			p.imageMode(p.CENTER);

			// doing it once so that it shows up in the right place post load
			p.background("#FFF8FF");
			p.tint("#307070");
			p.image(
				logo, 
				p.width / 2,
				p.height / 2,
				32,
				32
			);
		}

		p.draw = () => {
			p.background("#FFF8FF");
			p.tint("#307070");
			p.image(
				logo, 
				p.width / 2,
				p.height / 2,
				32,
				32
			);
		}

		p.windowResized = () => {
			sketchCanvas = document.getElementById("footerSketchCanvas")!;
			headerBarWidth = sketchCanvas.clientWidth;
			headerBarHeight = sketchCanvas.clientHeight;
			p.resizeCanvas(headerBarWidth, headerBarHeight);
		}
	}

	new p5(sketch, sketchCanvas);
</script>

<style>
	header {
		padding-top: 2ch;
		padding-left: 2ch;
		padding-right: 2ch;
	}
	nav {
		text-align: center;
		background-color: var(--l1);
	}
	hr {
		margin-top: 1ch;
		margin-bottom: 0;
	}
	p {
		display: inline;
		margin-left: 8px;
		margin-right: 8px;
	}
	#headerSketchCanvas {
		width: 100%;
		height: 64px;
	}
</style>